---
	import Navbar from '../components/Navbar.svelte';
	import Footer from '../components/Footer.svelte';
	import { navbarItems, socials, siteData } from "../../config.mjs"
	import { SEO } from "astro-seo";
	import "../styles/main.scss";

	let { title, description, openGraph, twitter }: Record<string, any> = Astro.props.meta;

	if (!openGraph && !openGraph?.article) {
		var og = {
			basic: {
				image: "/favicon.svg",
				title: title,
				description: description,
				type: "website",
			},
			image: {
				alt: "logo"
			},
			optional: {
				locale: "en",
				siteName: "yavko"
			},
			twitter: {
				card: "app",
				site: "lolyavko",
				creator: "lolyavko"
			}
		}
	}

	const faviconMeta = {

		link: [
			{ rel: "mask-icon", href: "/safari-pinned-tab.svg", color: "#000" }
		],
		meta: [
			{ name: "msapplication-TileColor", content: "#000000" },
			{ name: "msapplication-config", content: "/browserconfig.xml" },
			{ name: "theme-color", content: "#FFF" },
			{ name: "viewport", content: "width=device-width, initial-scale=1" },
			{ name: "twitter:image", content: (og?.basic?.image ?? openGraph?.basic?.image) ?? "/favicon.svg" },
		]

	}

---
<html lang="en">

<head>
	<SEO title={siteData.name + " - " + title} description={description} openGraph={og ?? openGraph} twitter={twitter}
		extend={faviconMeta} />
</head>

<body>
	<Navbar navbarItems={navbarItems} />
	<main id="content">
		<slot />
	</main>
	<footer id="footer">
		<Footer socials={socials} />
	</footer>
</body>

</html>
