---
import Navbar from '../components/Navbar.svelte';
import Footer from '../components/Footer.svelte';
import { navbarItems, socials, siteData  } from "../../config.mjs"
import "@fontsource/jetbrains-mono";
import "../styles/main.scss"

const {title}:Record<string,any> = Astro.props.meta;

---

<html lang="en">

    <head>
        <title>{siteData.name} - {title}</title>
    </head>
    <body>
        <Navbar navbarItems={navbarItems} />
        <div id="content">
            <slot />
        </div>
        <span id="footer">
            <Footer socials={socials}/>
        </span>
    </body>

</html>
