---
	import Page from "./page.astro";
	import { generateSocialImage } from 'astro-social-images';
	import figlet from "figlet";
	import { Post } from '../types';
	import dateStuff from '../dates';
	import Date from '../components/Date.svelte';

	const { title, pubDate, modDate, description, authors, socialImage, lang, tags, section } = Astro.props.content as Post;
	const { canonicalURL } = Astro;

	const ycon = figlet.textSync('y');

	const image = generateSocialImage({
		style: ".social-title, .social-description { font-family: 'JetBrains Mono', monospace }",
		images: [{ url: 'src/icons/yavko-white.png', attributes: { top: 480, left: 1050 } }],
		backgroundColor: '#000000',
		texts: [
			{
				content: title,
				attributes: { x: '55', y: '105', 'font-size': '75px', fill: '#FFFFFF', class: "social-title" }
			},
			{
				content: description,
				attributes: { x: '50', y: '225', 'font-size': '50px', fill: '#FFFFFF', class: "social-description" }
			}
			/*
			{
				content: ycon,
				attributes: { top: "375", left: "900", 'font-size': '25px', fill: '#FFFFFF', class: "social-icon" }
			}
			*/
		]
	});

	const meta = {
		title,
		description,
		canonicalURL,
		openGraph: {
			basic: {
				image: image.url ?? "/socials/" + image.hash,
				title: title,
				description: description,
				type: "article",
				url: canonicalURL
			},
			article: {
				publishTime: dateStuff(pubDate, "iso"),
				author: authors,
				tag: tags,
				section,
				modifiedDate: dateStuff(modDate, "iso")
			},
			optional: {
				locale: lang,
				siteName: "yavko"
			},
			twitter: {
				card: "summary_large_image",
				site: "lolyavko",
				creator: "lolyavko"
			},
			image: {
				alt: socialImage?.alt ?? "Social Image"
			}
		}
	}

---

<Page meta={meta}>
	<h1>{meta.title}</h1>
	<p>{meta.description}</p>
	<p>Posted at: <Date value={pubDate} /></p>
	<p>Modified at: <Date value={modDate} /></p>
	<p>Posted by {authors.join(",")}</p>
	<hr />
	<slot />
</Page>
